@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fuente Principal para títulos grandes */
@font-face {
    font-family: 'BurbankBig';
    src: url('./assets/fonts/Burbank Big Regular Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
  }
  
  /* Fuentes Small personalizadas */
  @font-face {
    font-family: 'BurbankSmallMedium';
    src: url('./assets/fonts/Burbank Small Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BurbankSmallBold';
    src: url('./assets/fonts/Burbank Small Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BurbankSmallBlack';
    src: url('./assets/fonts/Burbank Small Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
  }
  
  /* Aplicar por defecto */
  body {
    font-family: 'BurbankSmallMedium', sans-serif;
  }
  